header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    background-color: var(--header-color);
    text-align: center;
    border-bottom: var(--tchetche-color) 2px solid;
    border-radius: 10px;
}

header img {
    margin-top: 20px;
    width: 200px;
    border: 3px solid var(--tchetche-color);
    border-radius: 50%;
}

strong {
    display: block;
    font-weight: 700;  
    font-size: 32px;
    color: var(--tchetche-color);
    line-height: 3;
    
}