header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

img {
    width: 128px;
    border-radius: 50%;
}

strong {
    display: block;
    font-weight: 700;  
    font-size: 32px;
    color: red;
    line-height: 2;
}